updateMask := []string{"status.resources", "etag"}

// updateMask is a URL parameter but not present in the schema, so ReplaceVars
// won't set it
url, err = transport_tpg.AddQueryParams(url, map[string]string{"updateMask": strings.Join(updateMask, ",")})
if err != nil {
	return err
}

// TF resource is being destroyed, so remove all perimeter resources listed in the config
resources_to_remove := d.Get("resources").(*schema.Set).List()

etag, resources, err := AccessContextManagerServicePerimeterResourcesBuildResourcesUpdateRequest(d, resources_to_remove, nil, meta)

if err != nil {
	return err
}

obj = make(map[string]interface{})
obj["status"] = make(map[string]interface{})
obj["status"].(map[string]interface{})["resources"] = resources
obj["etag"] = etag

delete(obj, "resources")
