func flatten{{$.GetPrefix}}{{$.TitlelizeProperty}}(v interface{}, d *schema.ResourceData, config *transport_tpg.Config) interface{} {


	old, new := d.GetChange("resources")
	old_resources := old.(*schema.Set).List()
	new_resources := new.(*schema.Set).List()
	
	log.Printf("***123 [DEBUG] flatten diff old_resources: %v", old_resources)
	log.Printf("***123 [DEBUG] flatten diff new_resources: %v", new_resources)

	log.Printf("***123 [DEBUG] flatten get: %v", d.Get("resources"))
	// log.Printf("***123 [DEBUG] flatten GetRawConfig(): %v", d.GetRawConfig()["resources"])
	

	return v
}