//

old, new := d.GetChange("resources")
old_resources := old.(*schema.Set).List()
new_resources := new.(*schema.Set).List()

log.Printf("***123 [DEBUG] decoder diff old_resources: %v", old_resources)
log.Printf("***123 [DEBUG] decoder diff new_resources: %v", new_resources)

perimeter_status := res["status"].(map[string]interface{})
all_resources_in_perimeter := perimeter_status["resources"].([]interface{})

// remove any resources in the API response that are not in the resources TF config list
resources_to_keep := make([]interface{}, 0)

tf_config_resources := make([]interface{}, len(d.Get("resources").(*schema.Set).List()))
for i, v := range d.Get("resources").(*schema.Set).List() {
	tf_config_resources[i] = v
}

for i := 0; i < len(all_resources_in_perimeter); i++ {
	// resource_in_perimeter := all_resources_in_perimeter[i].(string)
	if slices.Contains(tf_config_resources, all_resources_in_perimeter[i]) {
		log.Printf("***123 [DEBUG] keeping resource: %s", all_resources_in_perimeter[i])
		resources_to_keep = append(resources_to_keep, all_resources_in_perimeter[i])
	} else {
		log.Printf("***123 [DEBUG] dropping resource: %s", all_resources_in_perimeter[i])
	}
}

res["resources"] = resources_to_keep

log.Printf("***123 [DEBUG] decoder tf_config_resources: %v, resources_to_keep: %v, all_resources_in_perimeter: %v", tf_config_resources, resources_to_keep, all_resources_in_perimeter)
return res, nil