perimeter_status := res["status"].(map[string]interface{})

// remove any resources in the API response that are not in the resources TF config list

tf_config_resources := make([]interface{}, len(d.Get("resources").(*schema.Set).List()))
for i, v := range d.Get("resources").(*schema.Set).List() {
	tf_config_resources[i] = v
}

if perimeter_status["resources"] != nil {
	all_resources_in_perimeter := perimeter_status["resources"].([]interface{})
	resources_to_keep := make([]interface{}, 0)
	for i := 0; i < len(all_resources_in_perimeter); i++ {
		if slices.Contains(tf_config_resources, all_resources_in_perimeter[i]) {
			resources_to_keep = append(resources_to_keep, all_resources_in_perimeter[i])
		}
	}
	res["resources"] = resources_to_keep
}

return res, nil